//
// allignment on repetitive elements
//

process {
	 withName: '.*:ALIGN_STAR:STAR_ALIGN' {
         ext.args   = '--outSAMtype BAM Unsorted --runMode alignReads --outFilterMultimapNmax 1 --outFilterMismatchNmax 3 --outMultimapperOrder Random --winAnchorMultimapNmax 5000 --alignEndsType EndToEnd --alignIntronMax 1 --alignMatesGapMax 350 --seedSearchStartLmax 30 --alignTranscriptsPerReadNmax 30000 --alignWindowsPerReadNmax 30000 --alignTranscriptsPerWindowNmax 300 --seedPerReadNmax 3000 --seedPerWindowNmax 300 --seedNoneLociPerWindow 1000 --readFilesCommand zcat'
         }
}

